<a href="https://colab.research.google.com/github/dang9/python_study_group/blob/master/PetersWeeklyChallenge2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving WeeklyChallenge#2_Input.csv to WeeklyChallenge#2_Input.csv

In [2]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['WeeklyChallenge#2_Input.csv']))

In [5]:
pd.set_option('display.max_colwidth',0)
df2

                                                                   Field_1
0  "Mary had a little lamb whose fleece was white as snow",123,'16-JUN-01'
1  "I do not like green eggs and ham",456,'25-DEC-10'

In [ ]:
#Delimiter
#Documentation: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html
split_data = df2['Field_1'].str.split(",",expand=True,n=2)
split_data

                                                         0    1            2
0  "Mary had a little lamb whose fleece was white as snow"  123  '16-JUN-01'
1  "I do not like green eggs and ham"                       456  '25-DEC-10'

In [ ]:
#Rename columns
split_data.columns = ['Poem', 'Poem_ID', 'Poem_Read_Date']
split_data

                                                      Poem  ... Poem_Read_Date
0  "Mary had a little lamb whose fleece was white as snow"  ...  '16-JUN-01'
1  "I do not like green eggs and ham"                       ...  '25-DEC-10'

[2 rows x 3 columns]

In [ ]:
#Remove quotation marks
split_data['Poem'] = split_data['Poem'].str.replace('"','')
split_data['Poem_Read_Date'] = split_data['Poem_Read_Date'].str.replace("'",'')

print(split_data)

                                                    Poem Poem_ID Poem_Read_Date
0  Mary had a little lamb whose fleece was white as snow  123     16-JUN-01
1  I do not like green eggs and ham                       456     25-DEC-10

In [ ]:
import datetime
#Documentation: https://docs.python.org/3/library/datetime.html
#Practice datetime conversion
stringDate = '16-JUN-01'
dateObject = datetime.datetime.strptime(stringDate, '%d-%b-%y')
dateObject.strftime('%d/%m/%Y')

'16/06/2001'

In [ ]:
#Create a function to format Poem_Read_Date
def date_convert(date_to_convert):
     return datetime.datetime.strptime(date_to_convert, '%d-%b-%y').strftime('%d/%m/%Y')

split_data['Poem_Read_Date'] = split_data['Poem_Read_Date'].apply(date_convert)
print(split_data)

                                                    Poem Poem_ID Poem_Read_Date
0  Mary had a little lamb whose fleece was white as snow  123     16/06/2001
1  I do not like green eggs and ham                       456     25/12/2010